@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    @font-face {
        font-family: Unbounded;
        src: url('@/assets/fonts/Unbounded-ExtraLight.ttf');
        font-weight: 200;
    }

    @font-face {
        font-family: Unbounded;
        src: url('@/assets/fonts/Unbounded-Light.ttf');
        font-weight: 300;
    }
    
    @font-face {
        font-family: Unbounded;
        src: url('@/assets/fonts/Unbounded-Regular.ttf');
        font-weight: 400;
    }

    @font-face {
        font-family: Unbounded;
        src: url('@/assets/fonts/Unbounded-Medium.ttf');
        font-weight: 500;
    }


    @font-face {
        font-family: Unbounded;
        src: url('@/assets/fonts/Unbounded-SemiBold.ttf');
        font-weight: 600;
    }
    
    @font-face {
        font-family: Unbounded;
        src: url('@/assets/fonts/Unbounded-Bold.ttf');
        font-weight: 700;
    }

    @font-face {
        font-family: Unbounded;
        src: url('@/assets/fonts/Unbounded-ExtraBold.ttf');
        font-weight: 800;
    }

    @font-face {
        font-family: Unbounded;
        src: url('@/assets/fonts/Unbounded-Black.ttf');
        font-weight: 900;
    }

    @font-face {
        font-family: 'Play';
        src: url('@/assets/fonts/Play-Regular.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'Play';
        src: url('@/assets/fonts/Play-Bold.ttf') format('truetype');
        font-weight: 700;
        font-style: normal;
    }
    
    html {
        @apply w-full h-screen select-none;
    }

    body {
        @apply w-full h-full;
    }

    ::-webkit-scrollbar {
        display: none; /* для браузеров на основе WebKit (Chrome, Safari) */
    }
}

@layer utilities {
    
    .gradient-animation {
        background: linear-gradient(229deg, #00ffa3, #dc1fff);
        background-size: 400% 400%;

        -webkit-animation: AnimationName 2s ease infinite;
        -moz-animation: AnimationName 2s ease infinite;
        animation: AnimationName 2s ease infinite;
    }

    .gradient-animation-2 {
        background: linear-gradient(229deg, #00ffa260, #dc1fff60);
        background-size: 400% 400%;

        -webkit-animation: AnimationName 2s ease infinite;
        -moz-animation: AnimationName 2s ease infinite;
        animation: AnimationName 2s ease infinite;
    }

    @-webkit-keyframes AnimationName {
        0%{background-position:97% 0%}
        50%{background-position:4% 100%}
        100%{background-position:97% 0%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:97% 0%}
        50%{background-position:4% 100%}
        100%{background-position:97% 0%}
    }
    @keyframes AnimationName {
        0%{background-position:97% 0%}
        50%{background-position:4% 100%}
        100%{background-position:97% 0%}
    }

    .img {
        -webkit-user-drag: none;
    }

    .fade-enter-active, 
    .fade-leave-active {
        transition: opacity 0.3s;
    }

    .fade-enter, 
    .fade-leave-to{
        opacity: 0.0 !important;
    }

    @keyframes bounce-2 {
        0%, 100% {
            transform: translateY(-2%);
            animation-timing-function: cubic-bezier(0.8,0,1,1);
        }
        50% {
            transform: none;
            animation-timing-function: cubic-bezier(0,0,0.2,1);
        }
    }
    .animate-bounce-2 {
        animation: bounce-2 0.3s infinite;
    }
}